.navbar {
  color: white;
  overflow: hidden;
  /* position: relative; */
  /* top: 0; */
  /* width: 100%; */
  height: 70px;
  background: transparent;
  z-index: 2;
}
.open {
  top: 0;
  left: 0;
  /* margin-left: 29%; */
  position: absolute;
  /* margin-top: 38%; */
}


.Link {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 27px 20px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}
.open {
  float: left;
  margin-top: 26px;
}
.logo {
  float: right;
  width: 19%;
  height: 71%;
  margin: 10px;
  align-self: center;
}
.select-container {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 27px 20px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  align-self: center;
}
select {
  border-style: none;
  /* background-color: #333; */
  background: transparent;
  font-size: 17px;
  color: white;
  text-align: center;
  font-weight: bold;
  margin-left: 80px;
}
select:focus {
  outline: none;
}
.Link:hover {
  color: black;
}
.user_pop_up {
  margin: 0 auto;
  background: white;
  position: fixed;
  top: 63px;
  border: 1px solid #596dd4;
  /* border-radius: 10px; */
  width: 100px;
  height: 100px;
  list-style: none;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 0;
  visibility: hidden;
  z-index: 3;
}
.user_pop_up a {
  padding: 5px;
  margin: 0 auto;
  color: #596dd4;
}
.user_info {
  cursor: pointer;
  color: white;
}
.light_mode {
  font-size: 25px;
  transition: 0.3s;
  cursor: pointer;
}
.user_icon {
  align-self: center;
  color: white;
  font-size: 25px;
}
.logo_text{
  font-size: 30px;
}
.topnav_right {
  display:flex;
  align-items: center;
  float:right;
  gap: 20px;
  padding-right:20px
}

.logo-img{
  width: 250px;
  border-radius: 5px;
}